<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net48" />
  <package id="IronOcr" version="2022.10.9390" targetFramework="net48" />
  <package id="IronOcr.Languages.Greek" version="2020.11.2" targetFramework="net48" />
  <package id="WebCam" version="1.11.7.7" targetFramework="net48" />
</packages>